*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Permite controlar mejor el tamaño de los elementos */
}

body {
  height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  background-color: #243b32;
  font-family: Arial, sans-serif;
}

.calculadora {
  background-color: #b2b1ae;
  width: 250px;
  border-radius: 12px;
  box-shadow: rgba(185, 230, 213, 0.2);
  padding: 20px;
}

.pantalla {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box; /* Permite controlar mejor el tamaño de los elementos */
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);/*4 columnas iguales*/
  gap: 10px; /*Agregar espacio entre filas y columnas*/
}

.botones button {
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: #eee;
  cursor: pointer;
}

.botones button:hover {
  background-color: #07ab6c;
  color: #eee;
}


.igual {
  color: rgb(5, 162, 96);
  font-weight: 600;
}

.limpiar {
  color: rgb(199, 172, 17);
  font-weight: 600;
}